<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="icon" th:href="@{/images/icons/kinal-icon.png}" type="image/x-icon">
</head>
<body>
    <main class="login">
        <h1 class="title">KinalApp by Angel Alfaro</h1>
        <h2 class="title">Login</h2>
        <div th:if="${param.error}" class="error">
            Usuario o contraseña incorrectos.
        </div>
        <div th:if="${param.logout}" class="logout-msg">
            Has cerrado sesión correctamente.
        </div>
        <form class="card" th:action="@{/login}" method="post">
            <label class="label" for="">Username</label>
            <input class="textfield" type="text" placeholder="aalfaro-2025457" name="username" id="username" required>
            <label class="label" for="">Password</label>
            <input class="textfield" type="password" placeholder="admin123" name="password" id="password" required>
            <button type="submit" class="btn">Log in</button>
        </form>
        <h3 class="title">¿No tienes usuario?, <a class="anchor" th:href="@{register}">Registrate aqui!!</a></h3>
    </main>
    <footer class="footer">
        <h3 class="title">@Copyright Angel Alfaro</h3>
    </footer>
</body>
</html>