<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="icon" th:href="@{/images/icons/kinal-icon.png}" type="image/x-icon">
</head>
<body>
    <main class="login">

        <p th:if="${error}" th:text="${error}" class="error"></p>

        <h2 class="title">Login</h2>
        <form class="card" th:action="@{login}" method="post">
            <label class="label" for="">Username</label>
            <input class="textfield" type="text" placeholder="aalfaro-2025457" name="username" id="username" required>
            <label class="label" for="">Password</label>
            <input class="textfield" type="password" placeholder="admin123" name="password" id="password" required>
            <button type="submit" class="btn">Log in</button>
        </form>
        <h3 class="title">¿No tienes usuario?, <a class="anchor" th:href="@{register}">Registrate aqui!!</a></h3>
    </main>
</body>
</html>