<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}" href="../../static/styles/style.css">
</head>
<body>
<main class="login">
    <h1 class="title">Register</h1>
        <form class="card" th:action="">
            <label class="label" for="">Username</label>
            <input class="textfield" type="text" placeholder="aalfaro-2025457" name="username" id="username" required>
            <label class="label" for="">E-mail</label>
            <input class="textfield" type="email" placeholder="aalfaro-2025457@kinal.edu.gt" name="email" id="email" required>
            <label class="label" for="">Password</label>
            <input class="textfield" type="password" placeholder="admin123" required>
            <button class="btn">Log in</button>
        </form>
</main>
</body>
</html>