<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <title>Clients</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}" href="../../static/styles/style.css">
    <link rel="icon" th:href="@{/images/icons/kinal-icon.png}" type="image/x-icon">
</head>

<body>
    <div class="main-wrapper">
        <nav class="sidebar">
            <ul class="list">
                <li class="sidebar-item"><a th:href="@{/home}"><svg xmlns="http://www.w3.org/2000/svg" height="64px"
                            viewBox="0 -960 960 960" width="64px" fill="#FFFFFF">
                            <path d="M359-242 120-481l239-239 43 43-166 166h604v60H236l166 166-43 43Z" />
                        </svg></a></li>
                <li class="sidebar-item"><a th:href="@{/home}"><svg xmlns="http://www.w3.org/2000/svg" height="64px"
                            viewBox="0 -960 960 960" width="64px" fill="#FFFFFF">
                            <path
                                d="M220-180h150v-250h220v250h150v-390L480-765 220-570v390Zm-60 60v-480l320-240 320 240v480H530v-250H430v250H160Zm320-353Z" />
                        </svg></a></li>
                <li class="sidebar-item"><a th:href="@{/login}"><svg xmlns="http://www.w3.org/2000/svg" height="64px"
                            viewBox="0 -960 960 960" width="64px" fill="#FFFFFF">
                            <path
                                d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h299v60H180v600h299v60H180Zm486-185-43-43 102-102H360v-60h363L621-612l43-43 176 176-174 174Z" />
                        </svg></a></li>
            </ul>
        </nav>
        <main class="clients-view">
            <h1 class="title">Clientes</h1>
            <h3 class="title">En esta vista usted puede crear nuevos clientes</h3>
            <form class="card" th:action="@{/view/clients/save}" th:object="${newClient}" method="post">
                <div class="card form">
                    <div class="container">
                        <label class="label" for="">DPI</label>
                        <input class="textfield" type="text" th:field="*{DPIClient}" placeholder="1315464878152" name="dpi" id="dpi">
                    </div>
                    <div class="container">
                        <label class="label" for="">Nombre</label>
                        <input class="textfield" type="text" th:field="*{nameClient}" placeholder="Angel" name="name" id="name">
                    </div>
                    <div class="container">
                        <label class="label" for="">Apellido</label>
                        <input class="textfield" type="text" th:field="*{lastNameClient}" placeholder="Alfaro" name="lastName" id="lastName">
                    </div>
                    <div class="container">
                        <label class="label" for="">Dirección</label>
                        <input class="textfield" type="text" th:field="*{direction}" placeholder="Zona 7, Kaminal Juyu" name="direction"
                            id="direction">
                    </div>
                    <div class="container">
                        <label class="label" for="">Estado</label>
                        <input class="textfield" type="number" th:field="*{state}" placeholder="1" name="name" id="name">
                    </div>
                </div>
                <button type="submit" class="btn">Aceptar</button>
            </form>

            <section class="clents" th:each="client : ${clients}">
                <article class="card client bg-green">
                    <h3 class="title" th:text="'DPI: ' + ${client.DPIClient}"></h3>
                    <h3 class="title" th:text="'Nombre: ' + ${client.nameClient}"></h3>
                    <h3 class="title" th:text="'Apellido: ' + ${client.lastNameClient}"></h3>
                    <h3 class="title" th:text="'Direccion: ' + ${client.direction}"></h3>
                    <h3 class="title" th:text="'Estado: ' + ${client.state}"></h3>

                    <div class="client-actions">
                        <a class="btn bg-green2">Editar</a>
                        <a class="btn bg-red2">Eliminar</a>
                    </div>
                </article>
            </section>
        </main>
    </div>
    <footer class="footer">
        <h3 class="title">@Copyright Angel Alfaro</h3>
    </footer>
</body>

</html>