<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Ventas</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}">
    <link rel="icon" th:href="@{/images/icons/kinal-icon.png}" type="image/x-icon">
</head>

<body>
    <div class="main-wrapper">
        <nav class="sidebar">
            <ul class="list">
                <li class="sidebar-item"><a th:href="@{/home}"><svg xmlns="http://www.w3.org/2000/svg" height="64px"
                            viewBox="0 -960 960 960" width="64px" fill="#FFFFFF">
                            <path d="M359-242 120-481l239-239 43 43-166 166h604v60H236l166 166-43 43Z" />
                        </svg></a></li>
                <li class="sidebar-item"><a th:href="@{/home}"><svg xmlns="http://www.w3.org/2000/svg" height="64px"
                            viewBox="0 -960 960 960" width="64px" fill="#FFFFFF">
                            <path
                                d="M220-180h150v-250h220v250h150v-390L480-765 220-570v390Zm-60 60v-480l320-240 320 240v480H530v-250H430v250H160Zm320-353Z" />
                        </svg></a></li>
                <li class="sidebar-item">
                    <form class="logout" th:action="@{/logout}" method="post">
                        <button class="logout" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" height="64px" viewBox="0 -960 960 960" width="64px"
                                fill="#FFFFFF">
                                <path
                                    d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h299v60H180v600h299v60H180Zm486-185-43-43 102-102H360v-60h363L621-612l43-43 176 176-174 174Z" />
                            </svg>
                        </button>
                    </form>
                </li>
            </ul>
        </nav>

        <main class="clients-view">
            <h1 class="title">Ventas</h1>
            <h3 class="title">Registro y control de transacciones</h3>

            <form class="card" th:action="@{/view/sales/save}" th:object="${newSale}" method="post">
                <div class="card form">
                    <div class="container">
                        <label class="label">Código de Venta</label>
                        <input class="textfield" type="number" th:field="*{codeSale}" readonly
                            style="background-color: #e9e9e9; cursor: not-allowed;" required>
                    </div>

                    <div class="container">
                        <label class="label">Cliente (DPI)</label>
                        <select class="textfield" th:field="*{clientSale}" required>
                            <option value="" disabled selected>Seleccione un cliente</option>
                            <option th:each="c : ${clients}" th:value="${c.DPIClient}"
                                th:text="${c.DPIClient + ' - ' + c.nameClient}"></option>
                        </select>
                    </div>

                    <div class="container">
                        <label class="label">Usuario</label>
                        <select class="textfield" th:field="*{userSale}" required>
                            <option value="" disabled selected>Seleccione un usuario</option>
                            <option th:each="u : ${users}" th:value="${u.codeUser}" th:text="${u.usernameUser}"></option>
                        </select>
                    </div>

                    <div class="container">
                        <label class="label">Total</label>
                        <input class="textfield" type="number" step="1" placeholder="0" th:field="*{totalSale}" required>
                    </div>

                    <div class="container">
                        <label class="label">Estado</label>
                        <input class="textfield" type="number" placeholder="1" th:field="*{stateSale}" required>
                    </div>
                </div>
                <button type="submit" class="btn">Aceptar</button>
            </form>

            <form th:action="@{/view/sales/search}" method="get" class="card ">
                <input type="number" name="codeSearch" class="textfield" placeholder="1"
                    style="flex: 1;" required>
                <div class="actions">
                    <button type="submit" class="btn bg-green2">Buscar</button>
                    <a th:href="@{/view/sales}" class="btn bg-red2" style="text-decoration: none;">Limpiar</a>
                </div>
            </form>

            <section class="clients">
                <article th:each="sale : ${sales}" class="card client bg-purple">
                    <h3 class="title" th:text="'ID Venta: ' + ${sale.codeSale}"></h3>
                    <h3 class="title" th:text="'Cliente: ' + ${sale.clientSale.nameClient}"></h3>
                    <h3 class="title" th:text="'Vendedor: ' + ${sale.userSale.usernameUser}"></h3>

                    <h3 class="title" th:text="'Total: Q' + ${sale.totalSale}"></h3>
                    <h3 class="title" th:text="'Fecha: ' + ${#temporals.format(sale.saleDateSale, 'dd/MM/yyyy HH:mm')}">
                    </h3>
                    <h3 class="title" th:text="'Estado: ' + ${sale.stateSale}"></h3>

                    <div class="actions">
                        <a th:href="@{/view/sales/edit/{code}(code=${sale.codeSale})}" class="btn bg-purple2">Editar</a>
                        <a th:href="@{/view/sales/delete/{code}(code=${sale.codeSale})}"
                            class="btn bg-red2">Eliminar</a>
                    </div>
                </article>
            </section>
        </main>
    </div>1
    <footer class="footer">
        <h3 class="title">@Copyright Angel Alfaro</h3>
    </footer>
</body>

</html>