<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=person_apron" />
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}" href="../static/styles/style.css">
    <link rel="icon" th:href="@{/images/icons/kinal-icon.png}" type="image/x-icon">
</head>

<body>
    <main class="home">
        <h1 class="title">KinalApp by Angel Alfaro</h1>
        <h1 class="title">¿A que CRUD desea ingresar?</h1>
        <div class="cruds">
            <article class="card bg-green">
                <button class="btn bg-green2 ft-black" th:action="@{}">
                    <span class="material-symbols-outlined font-64">
                        person_apron
                    </span>
                </button>
                <h2 class="title">Clientes</h2>
            </article>
            <article class="card bg-green">
                <button class="btn bg-green2 ft-black" th:action="@{}">
                    <span class="material-symbols-outlined font-64">
                        person_apron
                    </span>
                </button>
                <h2 class="title">Productos</h2>
            </article>
            <article class="card bg-green">
                <button class="btn bg-green2 ft-black" th:action="@{}">
                    <span class="material-symbols-outlined font-64">
                        person_apron
                    </span>
                </button>
                <h2 class="title">Ventas</h2>
            </article>
            <article class="card bg-green">
                <button class="btn bg-green2 ft-black" th:action="@{}">
                    <span class="material-symbols-outlined font-64">
                        person_apron
                    </span>
                </button>
                <h2 class="title wrap">Detalles de venta</h2>
            </article>
        </div>
    </main>

    <footer class="footer">
        <h3 class="title">@Copyright Angel Alfaro</h3>
    </footer>
</body>

</html>