body {
    margin: 0;
    background-color: #394053;
    width: 100%;
    height: 80vh;
    font-family: 'Courier New', Courier, monospace;
}

.login {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: #e9ebf0;
}

.card {
    background-color: #6b7ba5;
    padding: 1.8em;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.label {
    color: #e9ebf0;
    font-size: 1.2em;
}

.textfield {
    margin: .8em;
    padding: .3em;
    font-size: 1.5em;
    border-radius: 4px;
    border: 0;
    background-color: #c5cee2;
    color: #394053;
}

.btn {
    background-color: #86a2ee;
    border: 0;
    border-radius: 4px;
    font-size: 1.2em;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    padding: .5em;
    cursor: pointer;
    transition: ease-in-out .3s;
}

.btn:hover {
    background-color: #9fb3e9;
    color: #1e2330;
}

.anchor {
    text-decoration: dashed;
    color: #6b7ba5;
    transition: ease-in-out .3s;
}

.anchor:hover {
    color: #828ca5;
}

.anchor:focus{
    color: #7d74b5;
}

.error {
    color: #c24040;
    font-size: 1.5em;
}

.home {
    margin: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cruds {
    margin: 1.3em;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
}

.crud {
    flex: 1;
    padding: 1.8rem;
    font-size: 1.7em;
    color: #e9ebf0;
}

.bg-green {
    background-color: #4d7e6f;
}

.bg-green:hover {
    background-color: #5e9b89;
}

.bg-red {
    background-color: #b6625d;
}

.bg-red:hover {
    background-color: #c77d7a;
}

.bg-purple {
    background-color: #804f81;
}

.bg-purple:hover {
    background-color: #9b5e9b;
}

.bg-orange {
    background-color: #b1763f;
}

.bg-orange:hover {
    background-color: #c7a07b;
}